services:
	http.request: Wavevision\NetteTests\Mocks\RequestMock
	- factory: Wavevision\NetteTests\Runners\Presenters
	  inject: false
	- factory: Wavevision\NetteTests\Runners\Forms
	  inject: false
	- factory: Wavevision\NetteTests\Setup\AllowInjects
	  inject: false